body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Avenir, sans-serif;
  font-size: 18px;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  color: #9568ac;
  line-height: 48px;
  display: inline;
}


h2 {
  font-weight: bold;
  font-size: 24px;
  color: #745086;
  line-height: 29px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #262626;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h5 {
  color: #745086;
  text-decoration: none;
  margin-top: 30px;
  display: block;
}

h2,
h3,
h4,{
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #adadad;
  line-height: 21px;
}

a {
  color: #745086;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}

a:hover {
    color: #adadad;
}

#topContacts {
    display: block;
}

#topContacts li {
    padding: 5px;
}

.welcome-message {
  font-size: 20px;
  line-height: 28px;
}


#skills {
    text-align: center;
    display: inline-flex;
}

#skills li {
    padding: 5px;
}

#skills-h3 {
  color: #9568ac;
  text-align: center;
}

.orange {
  background-color: #9568ac;
  color: #262626;
}

.orange-text {
  color: #9568ac;
}

.white-text {
  font-weight: normal;
  color: #fff;
}

.gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #333333;
  background-image: url("../images/portraitMe.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  text-align: right;

}

#projects {
    background-color: rgba(226, 187, 249, 0.46);
    padding: 50px;
}

#workExperience {
    background-color: rgba(127, 127, 127, 0.47);
    padding: 50px;

}

#education {
    background-color: rgba(161, 243, 197, 0.43);
    padding: 50px;

}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 10px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}


.biopic {
  float: left;
  padding: 10px;
  max-width: 20%;
}

img {
  padding: 10px;
}

span {
  padding: 5px;
  color: #adadad;
}

#lets-connect {
  text-align: center;
  list-style: none;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }
}

@media only screen and (max-width:900px) {
  .biopic {
    width: 175px;
  }
}

@media only screen and (max-width: 750px) {
  #lets-connect {
    margin-top: 10%;
  }
  .biopic {
    width: 150px;
  }
  .welcome-message {
    display: none;
  }
}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#mapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  .biopic {
    display: block;
  }
}
